<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../wwwroot/images/icon.svg" type="image/png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
        integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
        crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/c2eaecad4c.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../wwwroot/style.css">
    <link href="../wwwroot/css/home.css" rel="stylesheet" type="text/css" ></link>

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

    <script src="../wwwroot/custom.js"></script>
    <script src="../wwwroot/js/home.js"></script>

    <title> Nome Empresa | Home </title>

    <!-- *******  VIEWS ******* -->
    <script src="notFound.js"></script>
    <script src="produto.js"></script>
  </head>
  <body>
    <div class="toolbar-home class-main"> 
        <div class="abre-menu" onclick="abreMenuLateral()"> 
          <i class="fas fa-bars"></i>
       </div>
       <div class="title-toolbar" onclick="window.location.reload()"> 
          Plataforma Digital
       </div>
      <div class="container-usuario"> 
        <div class="conteudo-right-toolbar">
          <div id="USER_LOGADO"> USUÁRIO </div>
          <div class="icon-usuario"> <i class="fas fa-user"> </i> </div>
          <div class="exit-toolbar" title="Finalizar Sessão" onclick="sairSistema()"> SAIR <i class="fas fa-sign-out-alt"></i></div>
        </div>
      </div>
    </div>
    <div class="main-conteudo-menu">
        <div class="menu-lateral" style="width: 5%;">
            <div class="modulo-menu dashboard" title="Página Inicial" onclick="notFoundView()"> 
              <div class="icon-menu"> <i class="fas fa-chart-pie"></i> </div>
              <div class="text-menu" style="display: none;"> Página Inicial </div>
            </div>
            <div class="modulo-menu dashboard" title="Cadastro de produtos" onclick="produtoView()"> 
              <div class="icon-menu"> <i class="fas fa-boxes"></i> </div>
              <div class="text-menu" style="display: none;"> Cadastro de Produtos </div>
            </div>
        </div>

        <div class="conteudo">
          <div class="conteudo-page">
             
          </div>
          <div id="FILIAL_LOGADA"> NOME FILIAL </div>
        </div>      
    </div>
  </body>
</html>